.infos .interact {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: flex-end;
}

.infos .interact .actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  gap: 1em;
}

.controls-horizontal {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  max-width: 1600px;
}

.controls-horizontal button.controls.prev:hover svg {
  transform: translateX(-0.5rem);
}

.controls-horizontal button.controls.next:hover svg {
  transform: translateX(0.5rem);
}
