.instructions {
  font-family: 'Source Code Pro', monospace, var(--font-main);
  position: absolute;
  top: 0;
  right: 1rem;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.color-picker {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  width: 100%;
}

.color-picker button {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.2px);
  -webkit-backdrop-filter: blur(1.2px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.color-picker button:hover {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.color-picker button.selected {
  color: #fff;
}
