.instructions {
  position: relative;
  width: 100%;
  max-width: 1600px;
  height: 100%;
  display: grid;
  grid-template:
    'controls-prev' auto
    'options' 1fr
    'controls-next' auto;
  /* justify-items: center; */
  padding: 4rem 0 1rem 0;
}

.instructions .option {
  grid-area: options;
}

/* 
 * Options
 */
.options {
  transition: all 0.3s ease;
}

/* 
 * Controls
 */
.controls.prev {
  grid-area: controls-prev;
}

.controls.next {
  grid-area: controls-next;
}

button.controls {
  background: transparent;
  border: none;

  cursor: pointer;
  z-index: 1;
  transition: all 0.25s ease;
}
button.controls:hover {
  border: none;
}
button.controls.hidden {
  opacity: 0;
  cursor: default;
  pointer-events: none;
}

button.controls svg {
  transition: all 0.25s ease;
}
button.controls.prev:hover svg {
  transform: translateY(-0.5rem);
}
button.controls.next:hover svg {
  transform: translateY(0.5rem);
}

/* 
 * Section
 */
.section {
  font-family: 'Source Code Pro', monospace, var(--font-main);
  position: absolute;
  top: 0;
  right: 1rem;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.option-picker {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  width: 100%;
  max-width: 800px;
}

.option-picker button {
  box-shadow: 0 4px 30px var(--button-shadow);
  backdrop-filter: blur(1.2px);
  -webkit-backdrop-filter: blur(1.2px);
  /* border: 1px solid var(--button-border); */
  border: none;
}

.option-picker button:hover {
  /* border: 1px solid var(--button-border); */
  border: none;
}

.option-picker button.selected::before {
  content: '_';
}

/* 
 * Home
 */
.home {
  align-items: flex-start;
}

@media (min-width: 1200px) {
  .section {
    right: 2rem;
  }
  .option-picker {
    grid-template-columns: repeat(2, 1fr);
  }
}
